body {
font-family:actor,sans-serif;
background-color:orange;
}
#form_wrapper {
width:500px;
border:1px soft;
height:1000px;
margin: 0 auto;
font-size:20px;
color:navy;
text-align:center;
background-color:white;
}
h2 {
	font-size:40px;
	color:orangered;
}
.field input {
	width:350px;
	padding:7px;
	color:#666;
	text-align:leftwards;
	font-size:15px;
	box-shadow:1px 1px 0.5px gray;
	-moz-box-shadow:1px 1px 0.5px gray;
	-webkit-box-shadow:1px 1px 0.5px gray;
}
.gender input {
	width:20px;
}
.location select {
	width:370px;
	padding:7px;
	color:#666;
	text-align:left;
	font-size:15px;
	box-shadow:1px 1px 0.5px gray;
	-moz-box-shadow:1px 1px 0.5px gray;
	-webkit-box-shadow:1px 1px 0.5px gray;
}
.sub input {
	width:80px;
	height:30px;
	background-color:orangered;
	text-align:center;
	color:#fff;
	font-weight:bold;
	box-shadow:1px 1px 0.5px gray;
	-moz-box-shadow:1px 1px 0.5px gray;
	-webkit-box-shadow:1px 1px 0.5px gray;
}
.field input:hover, .location select:hover, .sub input:hover {
	box-shadow:1px 1px 0.5px gray;
	-moz-box-shadow:1px 1px 0.5px gray;
	-webkit-box-shadow:1px 1px 0.5px gray;
}
.sub input:hover {
	background-color:black;
	color:orange;
}